<p> If you want to buy a powerbank click GO!</p>
<form method="GET" action="page_1">
  <button class="btn waves-effect waves-light" type="submit" name="action">GO!
    <i class="material-icons right">send</i>
  </button>
</form>